.header{
    height: 60px;
    padding: 16px;
    display: flex;
    align-items: center;
    background-color: #322675;
    position: sticky;
    justify-content: space-between;
    top: 0;
    z-index: 100;
}


.header_nav{
    display: flex;
    justify-content: space-evenly;
}


.header_optionLineOne{
    font-size: 10px;

}
.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;

}


.backetCount{
    margin-right: 10px;
    margin-left: 10px;
}